<div class="container w-75 bg-light p-5 mt-4">
	<div class="row">
    <form>
  		<div class="d-flex justify-content-center">
  			<input class="form-control me-2 w-50" type="file" id="formFile">
  			<button class="btn btn-outline-success" type="button" (click)="uploadImage()">Upload</button>
  		</div>
    </form>
	</div>
</div>

<div class="container w-75 bg-light p-5 mt-4">
	<h1 class="text-center mb-4">Gallery</h1>

  <ngb-alert [type]="'warning'" *ngIf="staticAlertClosed" [dismissible]="false">
    <span>
      {{error_msg}}
    </span>
      <button type="button" aria-hidden="true" class="btn-close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed = false">
      </button>
  </ngb-alert>

	<div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0"  *ngFor="let image of all_images">
        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
          <img src="{{image}}" class="w-100"/>
        </div>
      </div>
    </div>
</div>