<div id="home" class="">

	<div id="about" class="container bg-light m-4 p-4">
		<h1 class="text-center">ABOUT</h1>
		<p>The Pizza Restaurant was founded in blabla by Mr. Italiano in lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p><strong>The Chef?</strong> Mr. Italiano himself<img src="assets/img/chef.jpg" style="width:150px" class="rounded-circle float-end" alt="Chef"></p>
		<p>We are proud of our interiors.</p>
		<p class="pt-5">
		<img src="assets/img/img_restaurant.jpg" style="width:100%" alt="Restaurant">
		</p>
		<h1><b>Opening Hours</b></h1>
		<div class="row">
			<div class="col-6">
			  <p>Mon & Tue CLOSED</p>
			  <p>Wednesday 10.00 - 24.00</p>
			  <p>Thursday 10:00 - 24:00</p>
			</div>
			<div class="col-6">
			  <p>Friday 10:00 - 12:00</p>
			  <p>Saturday 10:00 - 23:00</p>
			  <p>Sunday Closed</p>
			</div>
		</div>    
	</div>

	<!-- End Content -->
</div>