<div class="container w-50 bg-light p-5 mt-4">
    <h1 class="text-center mb-4">Update</h1>
	
	<form [formGroup]="editRestaurent" (ngSubmit)= "update()">

		<ngb-alert [type]="'warning'" *ngIf="staticAlertClosed" [dismissible]="false">
    		<span>
    			{{error_msg}}
    		</span>
	        <button type="button" aria-hidden="true" class="btn-close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed = false">
	        </button>
	    </ngb-alert>

	    <div class="form-group">
	      <label for="name">Name</label>
	      <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" id="name">
	      <span class="text-danger" *ngIf="(submitted && editRestaurent.controls.name.errors?.required) || (!editRestaurent.controls.name.value && editRestaurent.controls.name.touched)">Please Enter Name</span>
	    </div>
	    <div class="form-group mt-3">
	        <label for="address">Address</label>
	        <input type="text" class="form-control" placeholder="Enter Address" formControlName="address" id="address">
	        <span class="text-danger" *ngIf="(submitted && editRestaurent.controls.address.errors?.required) || (!editRestaurent.controls.address.value && editRestaurent.controls.address.touched)">Please Enter Address</span>
	    </div>
	    <div class="form-group mt-3">
	        <label for="email">Email</label>
	        <input type="text" class="form-control" placeholder="Enter Email" formControlName="email"id="email" >
	        <span class="text-danger" *ngIf="(submitted && editRestaurent.controls.email.errors?.required) || (!editRestaurent.controls.email.value && editRestaurent.controls.email.touched)">Please Enter Email</span>
	        <span class="text-danger" *ngIf="(submitted && editRestaurent.controls.email.errors?.email)">Please Enter Correct Email</span>
	     </div>

	    <div class="form-group mt-5 text-center">
		    <button type="submit" class="btn btn-primary btn-sm">Update</button>
		</div>
	</form>
</div>