<div class="container my-auto" *ngIf="loader">
  <div class="d-flex justify-content-center">
      <img src="assets/img/loader.gif">
  </div>
</div>

<div class="container w-25 bg-light p-4 mx-auto mt-5" *ngIf="template_form">
	<h3 class="text-center mb-4"> LOGIN </h3>
	<form [formGroup]="loginUser" (ngSubmit)= "login()">

		<div *ngIf="error_msg" class="alert alert-warning alert-dismissible fade show" role="alert">
		  {{error_msg}}
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<div class="form-group">
		  <label for="email">Email</label>
		  <input type="email" class="form-control" id="email" formControlName="email" name="email"  placeholder="Enter Email">
		 <span class="text-danger" *ngIf="(submitted && loginUser.controls.email.errors?.required)|| (!loginUser.controls.email.value && loginUser.controls.email.touched)">Please Enter Email</span>
		</div>
		<div class="form-group my-4">
		  <label for="password">Password</label>
		  <input type="password" class="form-control" id="password" formControlName="pass" name="password"  placeholder="Enter Password">
		  <span class="text-danger" *ngIf="(submitted && loginUser.controls.pass.errors?.required)|| (!loginUser.controls.pass.value && loginUser.controls.pass.touched)">Please Enter Password</span>
	        <span class="text-danger" *ngIf="(submitted && loginUser.controls.pass.errors?.minlength)|| (loginUser.controls.pass.errors?.minlength)">Password Must Contain 8 Characters</span>
		</div>
		<div class="row">
			<div class="col-8">
				<button type="submit" class="btn btn-success">Login</button>
			</div>
			<div class="col-4">
				<button type="button" class="btn btn-info text-white" [routerLink]="['/register']">Create</button>
			</div>
		</div>
	</form>

	<hr>

	<div class="row">
		<div class="col-6 mt-2 text-center">
			<button mat-raised-button color="primary" alt="Login with Google" type="button" (click)="loginWithGoogle()">&nbsp;&nbsp;&nbsp;Google&nbsp;&nbsp;&nbsp;</button>
    </div>   
		<div class="col-6 mt-2 text-center">
			<button mat-raised-button color="accent" type="button" alt="Login with Facebook" (click)="loginWithFacebook()">Facebook</button>
		</div>
	</div>
</div>