<div class="container w-50 bg-light p-5 mt-4">
    <h1 class="text-center mb-4">Add Menu</h1>
	
	<form [formGroup]="addMenusForm" (ngSubmit)= "create()">

		<!-- ngb-alert [type]="'warning'" *ngIf="staticAlertClosed" [dismissible]="false">
    		<span>
    			{{error_msg}}
    		</span>
	        <button type="button" aria-hidden="true" class="btn-close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed = false">
	        </button>
	    </ngb-alert> -->

	   <table class="table table-bordered" formArrayName="addMenuList">
	   	<thead></thead>
	   	<tbody>
	      <tr>
	        <th colspan="2">Add Menus:</th>
	        <th width="150px">
	        	<div class="row">
	        		<div class="col-6">
			        	<button type="button" (click)="addvalue()" class="btn btn-success btn-sm">Add</button>
	        		</div>
	        		<div class="col-6">
			        	<button type="button" (click)="clear()" class="btn btn-danger btn-sm">Reset</button>
	        		</div>
	        	</div>
	        </th>
	      </tr>
	      <tr *ngFor="let menu of menu_list().controls; let i=index" [formGroupName]="i">
	        <td colspan="2">
	            Name :
	            <input type="text" formControlName="name" class="form-control" name="name">
	        </td>
	        <td>
	            <button (click)="removevalue(i)" class="btn btn-danger mt-3">Remove</button>
	        </td>
	      </tr>
	  	</tbody>
	   </table>
	  

	    <div class="form-group mt-5 text-center">
		    <button type="submit" class="btn btn-primary btn-sm" [disabled]="!addMenusForm.valid">Save</button>
		</div>
	</form>
</div>