<div class="container my-auto" *ngIf="loader">
  <div class="d-flex justify-content-center">
      <img src="assets/img/loader.gif">
  </div>
</div>

<div class="container w-50 bg-light p-4 mt-4" *ngIf="template_form">
	<form [formGroup]="createUser" (ngSubmit)= "register()">

		<h1 class="text-center mb-3">REGISTRATION</h1>
		
    	<ngb-alert [type]="'warning'" *ngIf="staticAlertClosed" [dismissible]="false">
    		<span>
    			{{error_msg}}
    		</span>
        <button type="button" aria-hidden="true" class="btn-close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed = false">
        </button>
      </ngb-alert>


			<div class="row">
				<div class="col-6 mt-2 text-center">
					<button mat-raised-button color="primary" type="button" alt="Login with Google" (click)="loginWithGoogle()">&nbsp;&nbsp;&nbsp;Google&nbsp;&nbsp;&nbsp;</button>
		    </div>   
				<div class="col-6 mt-2 text-center">
					<button mat-raised-button color="accent" type="button" alt="Login with Facebook">Facebook</button>
				</div>
			</div>

			<div class="strike text-secondary my-4">
		    <span>OR</span>
		</div>
	    
	    <div class="form-group">
	      <label for="name" class="form-label">Name</label>
	      <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name" name="name" [(ngModel)]="user.name">
	      <span class="text-danger" *ngIf="(submitted && createUser.controls.name.errors?.required) || (!createUser.controls.name.value && createUser.controls.name.touched)">Please Enter Name</span>
	    </div>
	    
	    <div class="form-group mt-3">
	        <label for="password" class="form-label">Password</label>
	        <input type="password" class="form-control" id="password" placeholder="Enter Password" formControlName="password" name="password" [(ngModel)]="user.password" minlength="8">
	        <span class="text-danger" *ngIf="(submitted && createUser.controls.password.errors?.required)|| (!createUser.controls.password.value && createUser.controls.password.touched)">Please Enter Password</span>
	        <span class="text-danger" *ngIf="(submitted && createUser.controls.password.errors?.minlength)|| (createUser.controls.password.errors?.minlength)">Password Must Contain 8 Characters</span>
	    </div>

	     <div class="form-group mt-3">
	        <label for="email" class="form-label">Email</label>
	        <input type="text" class="form-control" id="email" placeholder="Enter Email" formControlName="email" name="email" [(ngModel)]="user.email">
	        <span class="text-danger" *ngIf="(submitted && createUser.controls.email.errors?.required)|| (!createUser.controls.email.value && createUser.controls.email.touched)">Please Enter Email</span>
	    </div>

	    <div class="form-group mt-3">
	        <label for="mobile" class="form-label">Mobile</label>
	        <input type="text" class="form-control" placeholder="Enter Mobile" id="mobile" formControlName="mobile" name="mobile" [(ngModel)]="user.mobile">
	        <span class="text-danger" *ngIf="(submitted && createUser.controls.mobile.errors?.required) || (!createUser.controls.mobile.value && createUser.controls.mobile.touched)">Please Enter Mobile</span>
	    </div>

	    <div class="row mt-3">
			<div class="col-10">
				<button type="submit" class="btn btn-success">Register</button>
			</div>
			<div class="col-2">
				<button type="button" class="btn btn-info text-white" [routerLink]="['/login']">Login</button>
			</div>
		</div>

	</form>

	
</div>