<div class="jumbotron">
    <h1 class="text-center text-secondary my-4">Register</h1>
</div>
<!-- <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success !</strong> Your data added successfully !.
  <button (click)=" closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->

<div class="container w-50 bg-light p-4">
	<form [formGroup]="createUser" (ngSubmit)= "register()">

		<div class="alert alert-warning alert-dismissible fade show" role="alert"
		*ngIf="alert && createUser.invalid">
			<div class="row">
				<span *ngIf="createUser.controls.name.errors?.required && createUser.controls.name.touched">Please Enter Name</span>
			</div>
			<div class="row">
				<span *ngIf="createUser.controls.password.errors?.required && createUser.controls.password.touched">Please Enter Password</span>
			</div>
			<div class="row">
				<span *ngIf="createUser.controls.email.errors?.required && createUser.controls.email.touched">Please Enter Email</span>
			</div>
			<div class="row">
				<span *ngIf="createUser.controls.mobile.errors?.required && createUser.controls.mobile.touched">Please Enter Mobile</span>
			</div>
			<div class="row">
				<span *ngIf="createUser.controls.password.errors?.minlength && createUser.controls.password.touched">Password Must Contain 8 Characters</span>
			</div>

			<button type="button" class="btn-close" aria-label="Close"></button>
		</div>
	    
	    <div class="form-group">
	      <label for="name" class="form-label">Name</label>
	      <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name">
	    </div>
	    
	    <div class="form-group mt-3">
	        <label for="password" class="form-label">Password</label>
	        <input type="password" class="form-control" id="password" placeholder="Enter Password" formControlName="password" name="password">
	    </div>

	     <div class="form-group mt-3">
	        <label for="email" class="form-label">Email</label>
	        <input type="text" class="form-control" id="email" placeholder="Enter Email" formControlName="email">
	    </div>

	    <div class="form-group mt-3">
	        <label for="mobile" class="form-label">Mobile</label>
	        <input type="text" class="form-control" placeholder="Enter Mobile" id="mobile" formControlName="mobile">
	    </div>

	    <button type="submit" class="btn btn-primary mt-3">Register</button>
	</form>
</div>